:root {
  --header-height: 60px;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

// Base

.black-text {
  color: #000;
}

.white-text {
  color: #fff;
}

.section {
  padding-left: 16px;
  padding-right: 16px;
  &--long {
    padding-top: 128px;
    padding-bottom: 128px;
    & .section__heading {
      margin: 10px auto;
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
    }
    & .section__desc {
      font-family: "Raleway", sans-serif;
      margin: 24px auto;
      font-size: 18px;
      text-align: center;
      margin-bottom: 64px;
    }
  }
  &--short {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  &__heading--left {
    font-size: 2.4rem;
    margin-bottom: 32px;
    margin-top: 20px;
  }
  &__desc--left {
    margin: 20px 0;
  }
  &-content--left {
    padding-left: 12px;
    width: 70%;
  }
}

.btn {
  padding: 12px 24px;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-size: 1.5rem;
  & span {
    padding-left: 8px;
  }
}

.social {
  display: flex;
  &-item {
    & + & {
      padding-left: 16px;
    }
    &__link {
      text-decoration: none;
      color: #ccc;
      font-size: 1.8rem;
      &:hover {
        color: #888;
      }
    }
  }
}

// Main

.container {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  width: 100%;
}

.header {
  height: var(--header-height);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px 0 rgba($color: #000000, $alpha: 0.1);
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.logo {
  display: block;
  position: relative;
  text-decoration: none;
  color: #000;
  &__shape {
    background-color: #ccc;
    width: 60px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) skewX(165deg);
    transform-origin: center center;
    left: 15px;
  }
  &__title {
    width: 150px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 50%;
  &-item {
    padding: 16px;
  }
  &-item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    & span {
      padding-left: 4px;
    }
  }
}

.slider {
  background-image: url(../img/slider.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding-top: 51%;
  position: relative;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &-content {
    padding: 48px;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    left: 0;
    color: #fff;
    &__title {
      font-size: 6.4rem;
      display: block;
      line-height: 6.4rem;
      // font-weight: normal;
    }
    &__desc {
      font-size: 1.8rem;
      margin-top: 80px;
    }
    &-btn {
      background-color: #ccc;
      margin-top: 48px;
      height: 60px;
      &:hover {
        opacity: 1;
        background-color: #fff;
      }
      &__link {
        text-decoration: none;
        font-size: 2rem;
        color: #000;
      }
    }
  }
  &-social {
    position: absolute;
    bottom: 0;
    padding: 24px 48px;
  }
}
.about {
  &-feature {
    margin-top: 64px;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      &__icon {
        font-size: 6rem;
      }
      &__heading {
        font-size: 1.8rem;
        margin-top: 28px;
        margin-bottom: 20px;
      }
    }
  }
}
.feature {
  background-color: #f1f1f1;
  &-content {
    &__btn {
      background-color: #000;
      color: #fff;
      & span {
        padding-left: 8px;
      }
      &:hover {
        background-color: #ccc;
        color: #000;
      }
    }
  }
  &__img {
    width: 90%;
    border-radius: 12px;
  }
}
.team {
  &__desc {
    margin-bottom: 64px;
  }
  &-member {
    box-shadow: 0 0 12px 0 rgba($color: #000000, $alpha: 0.2);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    transition: transform ease-in-out 0.25s;
    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 8px 8px 0 rgba($color: #000000, $alpha: 0.15);
    }
    &__img img {
      width: 100%;
      &:hover {
        filter: brightness(0.6);
      }
    }
    &-info {
      padding: 16px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      &__name {
        font-size: 2.4rem;
        line-height: 3rem;
        margin: 10px 0;
      }
      &__position {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 15px 0;
        color: #666;
        font-family: "Raleway", sans-serif;
      }
      &__desc {
        margin: 15px 0;
      }
      &__btn {
        width: 100%;
        height: 46px;
        align-self: center;
        &:hover {
          background-color: #ccc;
        }
        & span {
          padding-left: 8px;
        }
      }
    }
  }
}
.achieve {
  background-color: #666;
  color: #fff;
  &-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__number {
      font-family: "Raleway", sans-serif;
      font-size: 3.6rem;
      padding: 16px 0;
    }
    &__desc {
      text-transform: capitalize;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
.work {
  &__img {
    position: relative;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 0;
    &:hover::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: #fff, $alpha: 0.3);
    }
    & img {
      display: block;
      width: 100%;
      border-radius: 12px;
    }
  }
}
.skill {
  background-color: #f1f1f1;
  &-item {
    font-family: "Raleway", sans-serif;
    &__name {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 15px 0;
      & span {
        padding-left: 16px;
        text-transform: capitalize;
        letter-spacing: 0.5rem;
      }
    }
    &-percent {
      background-color: #ccc;
      display: flex;
      justify-content: flex-start;
      border-radius: 500rem;
      &__get {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #666;
        color: #fff;
        border-radius: 500rem;
        &--90 {
          width: 90%;
        }
        &--85 {
          width: 85%;
        }
        &--75 {
          width: 75%;
        }
      }
    }
  }
}
.pricing {
  background-color: #666;
  &-list {
    align-items: center;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__name {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.4rem;
      &--primary {
        --padding: calc(12px + 6%);
        background-color: red;
        padding-top: var(--padding);
        padding-bottom: var(--padding);
      }
      &--secondary {
        background-color: #000;
        --padding: calc(8px + 4.5%);
        padding-top: var(--padding);
        padding-bottom: var(--padding);
      }
    }
    &__detail {
      font-family: "Raleway", sans-serif;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      --padding: 3%;
      padding-top: var(--padding);
      padding-bottom: var(--padding);
      border-bottom: 1px solid #ccc;
      & b {
        font-weight: bold;
      }
      &--large {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & b {
          font-size: 3rem;
          padding-top: 12px;
          padding-bottom: 16px;
        }
        & span {
          color: #999;
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
    }
    &-signup {
      &__btn {
        --padding: calc(6px + 3%);
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        padding: var(--padding) 0;
        border-radius: 4px;
        width: calc(100% - 32px);
        margin-top: 20px;
        &:hover {
          background-color: #ccc;
          color: #000;
        }
      }
    }
  }
}
.contact {
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  font-size: 1.8rem;
  &-info {
    height: 100%;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &__item {
      display: flex;
      align-content: center;
      & i {
        font-size: 3.6rem;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & p {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &-form {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 22px;

    &__title {
      align-self: flex-start;
      margin-left: 10%;
      font-size: 2.4rem;
      margin-bottom: 32px;
    }
    &__input {
      margin-top: 28px;
      display: block;
      width: 90%;
      padding: 12px;
      border: none;
      outline: none;
      border-bottom: 2px solid #ccc;
      font-size: 1.6rem;
      &:focus {
        border-bottom: 2px solid #333;
      }
      &::placeholder {
        font-size: 1.5rem;
      }
    }
    &__btn {
      align-self: flex-end;
      text-transform: uppercase;
      background-color: #000;
      color: #fff;
      height: 50px;
      width: 40%;
      min-width: 200px;
      max-width: 250px;
      border-radius: 4px;
      margin-top: 32px;
      &:hover {
        background-color: #ccc;
        color: #000;
      }
    }
  }
  &__img {
    margin-top: 64px;
    width: 100%;
    & img {
      width: 100%;
      display: block;
    }
  }
}
.footer {
  background-color: #000;
  padding: 64px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  &-social {
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    & i {
      font-size: 2.4rem;
    }
  }
  &-power {
    font-family: "Raleway", sans-serif;
    margin: 15px 0;
    &__link {
      color: #fff;
    }
  }
}

.back-to-top-btn {
  display: block;
  position: fixed;
  z-index: 1;
  bottom: 32px;
  right: 32px;
  width: 60px;
  height: 60px;
  border: 3px solid #000;
  border-radius: 500rem;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  & i {
    font-size: 3.6rem;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .section {
    &-content--left {
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &__desc--left {
      width: 70%;
    }
  }
  .nav {
    max-width: 70%;
  }
  .slider {
    padding-top: 60%;
    &-content {
      padding-top: 0;
      width: 100%;
      transform: translateY(-50%);
      &__title {
        font-size: 4.6rem;
      }
      &__desc {
        margin-top: 48px;
        width: 60%;
      }
      &-btn {
        position: absolute;
        right: 0;
        transform: translateX(-48px);
      }
    }
    &-social {
      display: none;
    }
  }
  .about {
    & .col.l-3.m-6.s-12 {
      &:nth-child(3) .about-feature-item,
      &:nth-child(4) .about-feature-item {
        margin-top: 64px;
      }
    }
  }
  .feature__img {
    margin-top: 64px;
    width: 100%;
    & img {
      width: 100%;
    }
  }
  .team {
    & .col.l-3.m-6.s-12 {
      &:nth-child(3) .team-member,
      &:nth-child(4) .team-member {
        margin-top: calc(var(--m-gutter) * 2);
      }
    }
  }
  .skill-item__name {
    margin-top: 32px;
  }
  .pricing-item__name {
    font-size: 2rem;
  }
  .pricing-item__detail span {
    padding: 0;
  }
  .contact {
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    font-size: 1.8rem;
    &-info {
      height: 100%;
      padding-bottom: 48px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      &__item {
        display: flex;
        align-content: center;
        & i {
          font-size: 3.6rem;
          width: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        & p {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &-form {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      padding-right: 22px;

      &__title {
        align-self: flex-start;
        margin-left: 10%;
        font-size: 2.4rem;
        margin-bottom: 32px;
      }
      &__input {
        margin-top: 28px;
        display: block;
        width: 90%;
        padding: 12px;
        border: none;
        outline: none;
        border-bottom: 2px solid #ccc;
        font-size: 1.6rem;
        &:focus {
          border-bottom: 2px solid #333;
        }
        &::placeholder {
          font-size: 1.5rem;
        }
      }
      &__btn {
        align-self: flex-end;
        text-transform: uppercase;
        background-color: #000;
        color: #fff;
        height: 50px;
        width: 40%;
        min-width: 200px;
        max-width: 250px;
        border-radius: 4px;
        margin-top: 32px;
        &:hover {
          background-color: #ccc;
          color: #000;
        }
      }
    }
    &__img {
      margin-top: 64px;
      width: 100%;
      & img {
        width: 100%;
        display: block;
      }
    }
  }
  .contact {
    font-size: 1.5rem;
    &-info {
      justify-content: flex-start;
      &__item + &__item {
        margin-top: 32px;
      }
    }
    &-form {
      &__title {
        display: none;
      }
      &__input[name="name"] {
        margin-top: 0;
      }
      &__btn,
      &__input {
        margin-top: 12px;
        width: 90%;
      }
      &__btn {
        min-width: unset;
        max-width: unset;
        margin-top: 32px;
      }
    }
  }
}
